{% extends 'base.html.twig'%}

{% block title %}Calendar{% endblock %}
{% block stylesheet %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('bundles/family/css/fullcalendar.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/calendar_main.css') }}">

{% endblock %}



{% block body %}


	{% include "@Family/Default/nav.html.twig"  %}
	<br><br>

	<div id='calendar'></div>

	<div class="row">
		<div class="col s12 center">
			<!-- Modal Structure -->
			<div id="fullCalModal" class="modal modal-corps">

				<div class="modal-header">
					<h6 style="color:white" id="modalTime" class="modal-title"></h6>
				</div>

				<div class="modal-content">
					<h4>Modal Header</h4>
					<p>A bunch of text</p>
				</div>
				<div class="modal-footer">
					<a href="#" id="delete_event" class="btn btn-default">Supprimer</a>
					<a href="#" id="edit_event" class="btn btn-primary">Modifier</a>
				</div>
			</div><br>

		</div>
	</div>


	{% include "@Family/Default/footer.html.twig"  %}

{% endblock %}

{% block js %}
	{{ parent() }}

	<script src="{{ asset('bundles/family/js/moment.min.js') }}"></script>
	<script src="{{ asset('bundles/family/js/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('bundles/family/js/calendar_main.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ asset('bundles/family/js/main.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
