{%extends 'base.html.twig'%}


{% block body %}

    <div class="loader" loader="" style="display: none;"></div>
    <div class="join_view ng-scope"><br>
    <h3 class="center-align">Family App Body</h3>
    <div class="container center-align"><br><br>
        <div class="row">

            <a href="{{ path('family_phone') }}"><img src="{{ asset('bundles/family/images/phone.png') }}" class="imgmenu" alt="phone"></a>

            <a href="{{ path('family_calendar') }}"><img src="{{ asset('bundles/family/images/calendar.png') }}" class="imgmenu" alt="calendar"></a><br>

            <a href="{{ path('family_time') }}"><img src="{{ asset('bundles/family/images/time.png') }}" class="imgmenu" alt="time"></a>

            <a href="{{ path('family_map') }}"><img src="{{ asset('bundles/family/images/map.png') }}" class="imgmenu" alt="map"></a><br>
        </div>
    </div>
{% endblock %}

