{%extends 'base.html.twig'%}
{% block title %}Homepage{% endblock %}
{% block stylesheet%}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/materialize.min.css') }}" media="screen,projection">

    {#<link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/style.css') }}">#}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/main.css') }}">
{% endblock %}


{% block body %}

<!--Ajout du lien interne vers la NavBar-->
{% include "@Family/Default/nav.html.twig"  %}

{#<div class="join_view ng-scope container row center-align col s12 m12 l12"><br>#}


<div class="container">
    <div class="row"><div class="container">
        <div class="slider offset-s1 col s10 offset-s1">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>The Family App :</h3>
                            <h5 class="light grey-text text-lighten-3">Démarrer avec</h5>
                        </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                        <div class="caption left-align">
                            <h3>4 Fonctions</h3>
                            <h5 class="light grey-text text-lighten-3">pour organiser sa famille.</h5>
                        </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>car partout où je vais </h3>
                            <h5 class="light grey-text text-lighten-3">ma famille est ma force</h5>
                        </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>alors n'attendez plus</h3>
                            <h5 class="light grey-text text-lighten-3">commencer maintenant !</h5>
                        </div>
                </li>
            </ul>
        </div>
    </div></div>
</div>

<div class="row center-align col s12 m12 l12">
    <div class="col s6 m6 l4 offset-l2 center">
        <a href="{{ path('family_phone') }}"><img  class="imgmenu" alt="phone" title="Phone" src="{{ asset('bundles/family/images/phonea.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/phoneb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/phonea.png') }}'"></a>
        <br>
            <span class="card-title">Listing Phones :</span>
                <p>Listing des numeros de telephone.</p>
    </div>
    <div class="col s6 m6 l4 ">
        <a href="{{ path('family_calendar') }}"><img  class="imgmenu2" alt="calendar" title="Calendar" src="{{ asset('bundles/family/images/calendara.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/calendarb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/calendara.png') }}'"></a>
        <br>
            <span class="card-title">Calendar Events :</span>
                <p>Calendrier des fêtes et évènements.</p>
    </div>
    <div class="col s6 m6 l4 offset-l2 center">
        <a href="{{ path('family_time') }}"><img  class="imgmenu" alt="time" title="Time" src="{{ asset('bundles/family/images/counta.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/countb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/counta.png') }}'"></a>
        <br>
                <span class="card-title">CountDown Listings :</span>
                    <p>Listing des anniversaires <br> et decomptes des jours restants .</p>
    </div>
    <div class="col s6 m6 l4">
        <a href="{{ path('family_map') }}"><img  class="imgmenu" alt="map" title="Map" src="{{ asset('bundles/family/images/mapa.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/mapb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/mapa.png') }}'"></a>
        <br>
                <span class="card-title">Maps Events :</span>
                    <p>Listing des maps.</p>
    </div>
    <div class="col s12 m12 l12">
        <img src="{{ asset('bundles/family/images/andy.jpg') }}" class="imgindex" alt="andro">
    </div>
</div>

    {% include "@Family/Default/footer.html.twig"  %}
{% endblock %}
