{%extends 'base.html.twig'%}

{% block stylesheet%}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/materialize.min.css') }}" media="screen,projection">

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/main.css') }}">
{% endblock %}


{% block body %}
{% include "@Family/Default/nav.html.twig"  %}
    <div class="loader" loader="" style="display: none;"></div>
    <div class="join_view ng-scope"><br>
    <h3 class="center-align">Family App Body</h3>
    <div class="container center-align"><br><br>
        <div class="row">

            <a href="{{ path('family_phone') }}"><img src="{{ asset('bundles/family/images/phone.png') }}" class="imgmenu" alt="phone"></a>

            <a href="{{ path('family_calendar') }}"><img src="{{ asset('bundles/family/images/calendar.png') }}" class="imgmenu" alt="calendar"></a><br>

            <a href="{{ path('family_time') }}"><img src="{{ asset('bundles/family/images/time.png') }}" class="imgmenu" alt="time"></a>

            <a href="{{ path('family_map') }}"><img src="{{ asset('bundles/family/images/map.png') }}" class="imgmenu" alt="map"></a><br>
        </div>
    </div>


        <div id="f1_container">
            <div id="f1_card" class="shadow">
                <div class="front face">
                    <a href="{{ path('family_phone') }}"><img src="{{ asset('bundles/family/images/phone.png') }}" class="imgmenu" alt="phone"></a>
                </div>
                <div class="back face center">
                    <p>This is nice for exposing more information about an image.</p>
                    <p>Any content can go here.</p>
                </div>
            </div>
        </div>
        {% include "@Family/Default/footer.html.twig"  %}
{% endblock %}

