
<nav  role="navigation">
    <div class="nav-wrapper container">
        <!-- Active NavBar Mobile -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons prefix">menu</i></a>

        <ul class="hide-on-med-and-down">
            <div class="row center s12">
                <div class="col s3 center ">
                    <a href="{{ path('family_homepage') }}"><img class="brand-logo nav_bar_logo" src="{{ asset('bundles/family/images/family.png') }}" alt="logo" title="Homepage"></a>
                </div>

                <div class="col s1">
                    <a href="{{ path('family_phone') }}"><img  class="brand-logo nav_bar_logo" alt="phone" title="Phone" src="{{ asset('bundles/family/images/phonea.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/phoneb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/phonea.png') }}'"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_calendar') }}"><img  class="brand-logo nav_bar_logo" alt="calendar" title="Calendar" src="{{ asset('bundles/family/images/calendara.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/calendarb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/calendara.png') }}'"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_time') }}"><img  class="brand-logo nav_bar_logo" alt="time" title="Time" src="{{ asset('bundles/family/images/counta.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/countb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/counta.png') }}'"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_map') }}"><img  class="brand-logo nav_bar_logo" alt="map" title="Map" src="{{ asset('bundles/family/images/mapa.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/mapb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/mapa.png') }}'"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('fos_user_profile_show') }}"><img class="brand-logo nav_bar_logo" alt="profile" title="Profile" src="{{ asset('bundles/family/images/profilea.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/profileb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/profilea.png') }}'"></a>
                </div>

                <div class="col s1">
                    <a href="{{ path('fos_user_security_logout') }}"><img  class="brand-logo nav_bar_logo" alt="logout" title="Logout" src="{{ asset('bundles/family/images/logouta.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/logoutb.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/logouta.png') }}'"></a>
                </div>

                {#<div class="col s1 ">#}

                    {#<ul class="collapsible collapsible-accordion">#}
                        {#<li>#}
                            {#<a class="collapsible-header material-icons o prefix">vert</a>#}
                            {#<div class="collapsible-body">#}
                                {#<ul>#}
                                    {#<li><a href="#!">First</a></li>#}
                                    {#<li><a href="#!">Second</a></li>#}

                                {#</ul>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul#}
                {#</div>#}
            </div>



        </ul>


        {#<li><a href="{{ path('fos_user_profile_show') }}" class="btn">Profile</a></li>#}
        {#<li><a href="{{ path('fos_user_security_logout') }}" class="btn">LogOff</a></li>#}


        <ul id="nav-mobile" class="side-nav center">
            <li><img src="{{ asset('bundles/family/images/family.png') }}" alt="logo"></li>
            <li><a href="{{ path('family_phone') }}" title="Phone">Phone</a></li>
            <li><a href="{{ path('family_calendar') }}" title="Calendar">Calendar</a></li>
            <li><a href="{{ path('family_time') }}" title="Timer">Timer</a></li>
            <li><a href="{{ path('family_map') }}" title="Map">Map</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" title="Profile">Profile</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" title="Logout">Logout</a></li>
        </ul>

    </div>
</nav>

