
<nav  role="navigation">
    <div class="nav-wrapper container">
        <!-- Active NavBar Mobile -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons prefix">menu</i></a>

        <ul class="hide-on-med-and-down">
            <div class="row">
                <div class="col s4 center">
                    <a href="{{ path('family_homepage') }}"><img class="brand-logo nav_bar_logo" src="{{ asset('bundles/family/images/family.png') }}" alt="logo" title="Homepage"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_phone') }}"><img src="{{ asset('bundles/family/images/phone.png') }}" class="brand-logo nav_bar_logo" alt="phone" title="Phone"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_calendar') }}"><img src="{{ asset('bundles/family/images/calendar.png') }}" class="brand-logo nav_bar_logo" alt="calendar" title="Calendar"></a>
                </div>

                <div class="col s1">
                    <a href="{{ path('family_time') }}"><img src="{{ asset('bundles/family/images/time.png') }}" class="brand-logo nav_bar_logo" alt="time" title="Time"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('family_map') }}"><img src="{{ asset('bundles/family/images/map.png') }}" class="brand-logo nav_bar_logo" alt="map" title="Map"></a>
                </div>
                <div class="col s1">
                    <a href="{{ path('fos_user_profile_show') }}"><img class="brand-logo nav_bar_logo" alt="profile" title="Profile" src="{{ asset('bundles/family/images/profile.png') }}" onmouseover="this.src='{{ asset('bundles/family/images/p3.png') }}'" onmouseout="this.src='{{ asset('bundles/family/images/profile.png') }}'"></a>
                </div>

                <div class="col s1">
                    <a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('bundles/family/images/logout.png') }}" class="brand-logo nav_bar_logo" alt="logout" title="Logout"></a>
                </div>

                {#<div class="col s1 ">#}

                    {#<ul class="collapsible collapsible-accordion">#}
                        {#<li>#}
                            {#<a class="collapsible-header material-icons o prefix">vert</a>#}
                            {#<div class="collapsible-body">#}
                                {#<ul>#}
                                    {#<li><a href="#!">First</a></li>#}
                                    {#<li><a href="#!">Second</a></li>#}

                                {#</ul>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul#}
                {#</div>#}
            </div>



        </ul>


        {#<li><a href="{{ path('fos_user_profile_show') }}" class="btn">Profile</a></li>#}
        {#<li><a href="{{ path('fos_user_security_logout') }}" class="btn">LogOff</a></li>#}


        <ul id="nav-mobile" class="side-nav center">
            <li><img src="{{ asset('bundles/family/images/family.png') }}" alt="logo"></li>
            <li><a href="{{ path('family_phone') }}" title="Phone">Phone</a></li>
            <li><a href="{{ path('family_calendar') }}" title="Calendar">Calendar</a></li>
            <li><a href="{{ path('family_time') }}" title="Timer">Timer</a></li>
            <li><a href="{{ path('family_map') }}" title="Map">Map</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" title="Profile">Profile</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" title="Logout">Logout</a></li>
        </ul>

    </div>
</nav>

