
    <header>

        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <!-- Active NavBar Mobile -->
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons prefix">menu</i></a>

                <ul class="hide-on-med-and-down">
                    <div class="center-align row">
                        <li class="col s2">
                            <a href="{{ path('family_homepage') }}"><img class="brand-logo nav_bar_logo" src="{{ asset('bundles/family/images/family.png') }}" alt="logo" title="Homepage"></a>
                            </li>
                         <li class="col s2">
                            <a href="{{ path('family_phone') }}"><img src="{{ asset('bundles/family/images/phone.png') }}" class="brand-logo nav_bar_logo" alt="phone" title="Phone"></a>
                         </li>
                        <li class="col s2">
                            <a href="{{ path('family_calendar') }}"><img src="{{ asset('bundles/family/images/calendar.png') }}" class="brand-logo nav_bar_logo" alt="calendar" title="Calendar"></a>
                        </li>

                        <li class="col s2">
                            <a href="{{ path('family_time') }}"><img src="{{ asset('bundles/family/images/time.png') }}" class="brand-logo nav_bar_logo" alt="time" title="Time"></a>
                        </li>
                        <li class="col s2">
                            <a href="{{ path('family_map') }}"><img src="{{ asset('bundles/family/images/map.png') }}" class="brand-logo nav_bar_logo" alt="map" title="Map"></a>
                        </li>
                        <li class="col s2">
                            <a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('bundles/family/images/profile.png') }}" class="brand-logo nav_bar_logo" alt="Profile" title="profile"></a>
                        </li>

                    </div>
                </ul>


                    {#<li><a href="{{ path('fos_user_profile_show') }}" class="btn">Profile</a></li>#}
                    {#<li><a href="{{ path('fos_user_security_logout') }}" class="btn">LogOff</a></li>#}


                <ul id="nav-mobile" class="side-nav center">
                    <li><a href="">
                    <img class="" src="{{ asset('bundles/family/images/family.png') }}" alt="logo"></a></li><br><br>
                    <li><a href="{{ path('family_phone') }}">Phone</a></li><br>
                    <li><a href="{{ path('family_calendar') }}">Calendar</a></li><br>
                    <li><a href="{{ path('family_time') }}">Timer</a></li><br>
                    <li><a href="{{ path('family_map') }}">Map</a></li><br>
                    <li><a href="">Profile</a></li><br>
                    <li><a href="{{ path('fos_user_security_logout') }}">Deconnection</a></li><br>

                </ul>

            </div>
        </nav>
    </header>
