{%extends 'base.html.twig'%}
{% block title %}Countdown Listings{% endblock %}
{% block stylesheet%}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/materialize.min.css') }}" media="screen,projection">

    {#<link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/style.css') }}">#}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/main.css') }}">
{% endblock %}


{% block body %}

<div class="row col s12 m12 l12 center">
        {% include "@Family/Default/nav.html.twig"  %}
    <h1>Countdown Listings :</h1>
</div> <div class="container"><div class="row">
    <table class="col s12 m12 l6 offset-l3 bordered highlight  centered">
        <thead>
        <tr>
            <th data-field="id">Nom</th>
            <th data-field="name">Prenom</th>
            <th data-field="price">Anniversaire</th>
            <th data-field="price">Jours restants</th>
        </tr>
        </thead>

        <tbody>
        {% for user in times %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.anniversaire_string }}</td>
                <td>{{ user.countdown }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row col s12 m12 l12 center">
    {% include "@Family/Default/footer.html.twig"  %}
</div>
<div class="row col s12 m12 l12 center">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

</div></div>


    {#---master---#}
    {#<div class="center preloader-wrapper active ">#}

{% endblock %}

 {% block js %}
     <script type="text/javascript" src="{{ asset('bundles/family/js/main.js') }}"></script>
 {% endblock %}