{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {#<p>{{ '.show.nom'|trans }}: {{ user.nom }}</p>#}
    {#<p>{{ 'profile.show.prenom'|trans }}: {{ user.prenom }}</p>#}
    {#<p>{{ 'profile.show.tel_03'|trans }}: {{ user.tel_03 }}</p>#}
    {#<p>{{ 'profile.show.tel_06'|trans }}: {{ user.tel_06 }}</p>#}
    {#<p>{{ 'profile.show.tel_09'|trans }}: {{ user.tel_09 }}</p>#}
    {#<p>{{ 'profile.show.adresse'|trans }}: {{ user.adresse }}</p>#}
    {#<p>{{ 'profile.show.code_postal'|trans }}: {{ user.code_postal }}</p>#}
    {#<p>{{ 'profile.show.ville'|trans }}: {{ user.ville }}</p>#}
    {#<p>{{ 'profile.show.anniversaire'|trans }}: {{ user.anniversaire }}</p>#}
</div>
