{% trans_default_domain 'FOSUserBundle' %}
<div class="row center-align"><br>
    <img class="brand-logo nav_bar_logo" src="{{ asset('bundles/family/images/family.png') }}" alt="logo">
</div>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="container">
<div class="row ">
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">email</i>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">vpn_key</i>
        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">vpn_key</i>
        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">verified_user</i>
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">account_circle</i>
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">account_circle</i>
        {{ form_label(form.prenom) }}
        {{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">location_on</i>
        {{ form_label(form.adresse) }}
        {{ form_errors(form.adresse) }}
        {{ form_widget(form.adresse) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">location_on</i>
        {{ form_label(form.code_postal) }}
        {{ form_errors(form.code_postal) }}
        {{ form_widget(form.code_postal) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">location_on</i>
        {{ form_label(form.ville) }}
        {{ form_errors(form.ville) }}
        {{ form_widget(form.ville) }}
    </div>

    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">phone</i>
        {{ form_label(form.domicile) }}
        {{ form_errors(form.domicile) }}
        {{ form_widget(form.domicile, { 'attr': {'length': '10', 'maxlength': '10'} }) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">phone</i>
        {{ form_label(form.portable) }}
        {{ form_errors(form.portable) }}
        {{ form_widget(form.portable, { 'attr': {'length': '10'} }) }}
    </div>
    <div class="row col s12 m4 l4 input-field"><i class="material-icons prefix">phone</i>
        {{ form_label(form.box) }}
        {{ form_errors(form.box) }}
        {{ form_widget(form.box, { 'attr': {'length': '10'} }) }}
    </div>

    <div class="row col s12 m4 l4 input-field">
        {#<i class="material-icons prefix">today</i>#}
        {{ form_label(form.anniversaire) }}
        {#{{ form_errors(form.anniversaire) }}#}
        {{ form_widget(form.anniversaire) }}
    </div>

    {#<div class="input-field col s12 m4 l4 ">#}

        {#<select>#}
            {#<option value="" disabled selected>Statut</option>#}
            {#<option value="1">Parent</option>#}
            {#<option value="2">Enfant</option>#}
            {#<option value="3">Deconection</option>#}
        {#</select>#}

    {#</div>#}


</div></div>

{#<form action="#">#}
    {#<div class="file-field input-field">#}
        {#<div class="btn">#}
            {#<span>File</span>#}
            {#<input type="file" multiple>#}
        {#</div>#}
        {#<div class="file-path-wrapper">#}
            {#<input class="file-path validate" type="text" placeholder="Choix d'une image de profile">#}
        {#</div>#}
    {#</div>#}
{#</form>#}

<div class="row center-align col s5 m3 l3">
        <input class="waves-effect waves-light btn" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
        {{ form_end(form) }}
<br>

